.wrapper{
	text-align: center;
	background-color: #efffee;
}

.wrapper-body {
	background-color: #8db68c;
	min-height: 80vh;
	font-size: calc(8px + 2vmin);
	color: white;
}

.wrapper-footer {
	background-color: #5c9d5b;
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(8px + 2vmin);
	color: rgb(191, 191, 191);
}
