/* desktop 규격 */
@media screen and (min-width: 1024px){
	.carouselImageBox {
		height: 26rem;
	}
}

/* tablet 규격 */
@media screen and (max-width: 1023px){
	.carouselImageBox {
		height: 17rem;
	}
}

/* mobile 규격 */
@media screen and (max-width: 540px){
	.carouselImageBox {
		height: 9rem;
	}
}