/* desktop 규격 */
@media screen and (min-width: 1024px) {
	.desktopOnly{
		display: block;
	}
	.tabletOnly{
		display: none;
	}
	.mobileOnly{
		display: none;
	}

	.desktopOver{
		display: block;
	}
	.tabletOver{
		display: block;
		height: 60px;
	}
	.mobileOver{
		display: block;
	}
	/* ------------------------------------------------------ */
	.carouselImageBox {
		height: 26rem;
	}
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
	.desktopOnly{
		display: none;
	}
	.tabletOnly{
		display: block;
	}
	.mobileOnly{
		display: none;
	}

	.desktopOver{
		display: none;
	}
	.tabletOver{
		display: block;
		height: 60px;
	}
	.mobileOver{
		display: block;
	}
	/* ------------------------------------------------------ */
	.carouselImageBox {
		height: 17rem;
	}
}

/* mobile 규격 */
@media screen and (max-width: 767px) {
	.desktopOnly{
		display: none;
	}
	.tabletOnly{
		display: none;
	}
	.mobileOnly{
		display: block;
		height: 54px;
	}

	.desktopOver{
		display: none;
	}
	.tabletOver{
		display: none;
	}
	.mobileOver{
		display: block;
	}
	/* ------------------------------------------------------ */
	.carouselImageBox {
		height: 9rem;
	}
}