/* desktop 규격 */
@media screen and (min-width: 1024px) {
	.desktopMode{
		display: block;
	}
	.mobileMode{
		display: none;
	}

	.carouselImageBox {
		height: 26rem;
	}
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
	.desktopMode{
		display: none;
	}
	.mobileMode{
		display: block;
	}

	.carouselImageBox {
		height: 17rem;
	}
}

/* mobile 규격 */
/* @media screen and (max-width: 767px) {
	.desktopOnly {
		display: none;
	}

	.tabletOnly {
		display: none;
	}

	.mobileOnly {
		display: block;
	}

	.desktopOver {
		display: none;
	}

	.tabletOver {
		display: none;
	}

	.mobileOver {
		display: block;
	}

	.carouselImageBox {
		height: 9rem;
	}
} */

p {
	margin: 0px;
}

#subMenuArea{
	/* display: none; */
	visibility: hidden;
}

#subMenuArea.show{
	/* display: block; */
	visibility: visible;
}