/* desktop 규격 */
@media screen and (min-width: 1024px) {
	.desktopMode{
		display: block;
	}
	.mobileMode{
		display: none;
	}

	.carouselImageBox {
		height: 26rem;
	}
}

/* tablet 규격 */
@media screen and (max-width: 1023px) {
	.desktopMode{
		display: none;
	}
	.mobileMode{
		display: block;
	}

	.carouselImageBox {
		height: 17rem;
	}
}

/* mobile 규격 */
/* @media screen and (max-width: 767px) {
	.desktopOnly {
		display: none;
	}

	.tabletOnly {
		display: none;
	}

	.mobileOnly {
		display: block;
	}

	.desktopOver {
		display: none;
	}

	.tabletOver {
		display: none;
	}

	.mobileOver {
		display: block;
	}

	.carouselImageBox {
		height: 9rem;
	}
} */

p {
	margin: 0px;
}

.smallButton{
	padding: 2px;
	min-width: 70px;
	max-width: 100px;
	font-size: 0.8rem;
}

.mediumButton{
	width: 30%;
	max-width: 130px;
	padding: 2px;
	font-size: 0.8rem;
}

#subMenuArea{
	/* display: none; */
	visibility: hidden;
}

#subMenuArea.show{
	/* display: block; */
	visibility: visible;
}

.rowDivider{
	height: 0.4rem;
	width: 100vw;
	position: relative;
	left: calc(-50vw + 50%);
	background-color: lightgray;
	margin-top: 3.0rem;
	margin-bottom: 3.0rem;
}

.replyProfilePicture{
	width: 3.5rem;
	height: 3.5rem;
	border: 1px solid lightgray;
}

.replyProfilePictureNone{
	width: 3.5rem;
	height: 3.5rem;
	border: 1px solid lightgray;
	border-radius: 50%;
	padding: 6px;
	background-color: rgb(154, 154, 154);
}

/* Modal보다 메뉴 z-index 값이 큼, 로딩 창위에 메뉴가 떠서 클릭하지 못하게함 */
.fade.modal.show{
	z-index: 2001;
}

.fade.modal-backdrop.show{
	z-index: 2001;
}

.rowToggle:hover{
	background-color: #e9f7ff;
}