.ck.ck-content:not(.ck-comment__input *) {
    /* 작성 모드 */
    height: 500px;
    overflow-y: auto;
    margin: 0px;
}

.ck.ck-editor__main p {
    margin: 0px;
    font-size: 0.8rem;
}

.ck.ck-read-only {
    /* 읽기 모드 */
    height: fit-content !important;
    overflow-y: auto;
    margin: 0px;
    border: 0px;
}

.ck.ck-sticky-panel__content.ck-sticky-panel__content_sticky {
    /* 읽기 모드 */
    top: 61px;
    z-index: 1021;
}